.myOrders {
  width: 100vw;
  max-width: 100%;
  box-sizing: border-box;
  background-color: rgb(235, 235, 235);
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
  padding: 5vmax;
  position: relative;
  overflow: hidden;
}
.noOrdersFound{
  width: 100%;
  height:50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.noOrdersFound div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.noOrdersFound > div >a{
  text-decoration: none;
  font-size: 100 1.2vmax 'Cursive';
  color: white;
  background-color: tomato;
  padding:0.5vmax 5vmax;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  cursor: pointer;
}
.noOrdersFound > div > h5{
  font:300 1.6vmax 'Roboto';
}
.myOrders>a{
  display: block;
  align-self: center;
  justify-self: center;
  padding:0.5vmax 3vmax;
  background-color: tomato;
  color: white;
  font: 200 1.4vmax 'Roboto';
  border: none;
  text-decoration: none;
  border-radius: 50px;
}
.myOrders,
.myOrders * {
  box-sizing: border-box;
}
.myOrders h1 {
  font: 300 2.6vmax "Roboto";
  color: tomato;
  text-align: center;
  padding-bottom: 2vmax;
}
.myOrdersContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.myOrdersContainer .myOrderProductheader,
.myOrdersContainer .myOrderItems {
  display: flex;
  justify-content:center;
  align-items: center;
  width: 100%;
  margin-bottom: 5vmax;
}
.myOrderProductheader {
  padding:1.5vmax;
  background-color: blue;

}
.myOrderProductheader > p {
  font: 200 1.6vmax "Roboto";
  color: white;

}
.myOrderProductheader > p,
.myOrderItems > .ordersImg,
.myOrderItems > p {
  width: 25% !important;
  text-align: center;
  font-size: 1vamx;
}
.myOrderItems > .ordersImg img {
  position: relative;
  width: 100%;
  max-width:150px;
  aspect-ratio: 1;
  object-fit: scale-down;
  padding: 1vmax;
  box-shadow: 0px 0px 1px 1px rgb(236, 235, 235),
  1px 1px 1px 1px rgb(217, 217, 217),
   inset 1px 1px 1px 1px rgb(217, 217, 217), 2px 2px 1px 1px rgb(180, 180, 180);
  transition: all 0.5s;
}
.myOrderItems > .ordersImg img:hover {
  box-shadow: 0px 0px 1px 1px rgb(236, 235, 235),
    1px 1px 1px 1px rgb(217, 217, 217), inset 1px 1px 1px 1px rgb(236, 235, 235),
    inset 2px 2px 1px 1px rgb(180, 180, 180);
}


@media (max-width:700px){
 .myOrders *{
   padding-left: 0;
   padding-right: 0;
 }
 .myOrders{
   justify-content: flex-start;
   padding-top: 5vmax;
 }
 .myOrderProductheader > p{
   font-size: 2vmax;
 }
 .myOrders{
   padding-left: 1vmax;
   padding-right: 1vmax;
 }
 .myOrderItems p{
   font-size: 1.7vmax;
 }
 .myOrders{
   padding-top: 10vmax;
 }
 .myOrders > a{
   font-size:2.4vmax;
   padding: 2vmax 5vmax;
 }

}