.adminOrders {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;
    height: auto;
    overflow-x: hidden;
    z-index: 2;
    background-color: white;
  }
  
  .adminOrders,
  .adminOrders * {
    box-sizing: border-box;
    text-decoration: none !important;
  }
  
  .adminOrdersContainer {
    position: absolute;
    top: 0;
    right: 0;
    width: 75%;
    border-left: 1px solid rgba(0, 0, 0, 0.4);
    min-height: 100vh;
    padding-top: 5vmax;
  }
  
  .adminOrdersContainer > h1 {
    color: rgba(0, 0, 0, 0.733);
    color:tomato;
    position: relative;
    font: 300 2.5vmax "Roboto";
    text-align: center;
    width:auto;
    padding: 2vmax 5vmax;
    margin: auto;
    margin-bottom:5vmax;
  }
  .adminOrdersHeader,.adminOrdersBox {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding:1.5vmax;
    width: 95%;
    margin: auto;
  }
  .adminOrdersHeader > p ,.adminOrdersBox > p {
    color: purple;
    position: relative;
    font: 300 2vmax "Roboto";
    text-align: center;
    margin: auto;
    width: 33%;

  }
  
  
  .adminOrdersHeader{
    background-color:blue;
    border-bottom: 1px solid rgba(0,0,0,0.3);
  }
  .adminOrdersHeader > p{
    color: white;
  
  }
  .adminOrdersBox > p {
    color: rgba(0, 0, 0, 0.7);
    font: 300 1.5vmax "Roboto";
  }
  .adminIcon{
    cursor: pointer;
    font-size: 2vmax;
  }
  .adminIcon:nth-of-type(2){
  color: red;
  }
  .adminIcon:nth-of-type(1){
    color: blue;
    }
    .paginationBox {
      display: flex;
      justify-content: center;
      margin: 6vmax;
    }
    .pagination {
      display: flex;
      justify-content: center;
      padding: 0;
    }
    .page-item {
      background-color: white;
      border: 1px solid black;
      padding: 1vmax 1.5vmax;
      cursor: pointer;
      transition: all 0.3s;
      list-style: none;
      text-decoration: none;
    }
    .page-item:first-child {
      border-radius: 5px 0 0 5px;
    }
    .page-item:last-child {
      border-radius: 0 5px 5px 0;
    }
    .page-link {
      text-decoration: none !important;
      font: 300 1vmax "Roboto";
      color: rgb(80, 80, 80);
      transition: all 0.3s;
    }
    .page-item:hover {
      background-color: rgb(230, 230, 230);
    }
    .page-item:hover .page-link {
      color: tomato;
    }
    .pageItemActive {
      background-color: tomato;
    }
    .pageLinkActive {
      color: white;
    }
  @media screen and (max-width: 600px) {
  
    .adminOrdersContainer {
      border-left: none;
      position: relative;
      padding:2vmax 3px;
      width: 100%;
      align-items: center;
    }
    .adminOrdersHeader > p {
     font-size: 1.7vmax;
    }
    .adminOrdersBox > :first-child , .adminOrdersHeader > :first-child{
      width: 50%;
    }
    .adminOrdersBox > :last-child,.adminOrdersHeader > :last-child{
      width: 25%;
    }
    .adminOrdersBox > p {
    font-size: 1.4vmax;
    }
    .adminIcon{
    font-size: 2.5vmax;
  
    }
    .noAdminOrders{
     font-size: 3vmax;

    }
    .page-link {
      font: 200 2vmax "Roboto";
    }
  }


  
  @media screen and (min-width: 601px) and (max-width: 1000px) {
    .adminOrdersContainer {
      width: 65%;
    }
    .noAdminOrders{
     font-size: 2.4vmax;
    }
    .adminOrdersBox > :first-child , .adminOrdersHeader > :first-child{
      width:40%;
    }
    .adminOrdersBox > :last-child,.adminOrdersHeader > :last-child{
      width:30%;
    }
    .page-link {
      font: 200 1.6vmax "Roboto";
    }
  }

  .noAdminOrders{
    position: top;
    left: 0;
    text-align: center;
    width: 100%;
    font: 300 2vmax 'Roboto';
    color: rgba(0, 0, 0, 0.7);
    margin-top: 5vmax;
    min-height:40vh;
  }