.contactPage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(171, 171, 255);
  height: 100vh;
}
.contactPage,
.contactPage * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.contactPage .leftContact {
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;
  height: 100%;
  background-color:white;
}
.contactPage .leftContact > form {
  position: absolute;
  top: 10%;
  right: 35%;
  height: 80%;
  width: 60%;
  max-width: 400px;
  box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.leftContact > form > input,
.leftContact > form > textarea {
  background-color: transparent;
  padding: 1vmax 1.4vmax;
  outline: none;
  border: 1px solid gray;
  width: 80%;
  margin-bottom: 2vmax;
}
.contactPage .rightContact {
  position: absolute;
  top: 10%;
  right: 0;
  width: 50%;
  height: 80%;
  background-color:rgb(255, 224, 248);
}

@media (max-width: 700px) {
  .contactPage .leftContact {
    top: 10%;
    left: 10%;
    width: 80%;
    height: 70vh;
    z-index: 1;
  }
  .contactPage .rightContact {
    right: 0;
    width: 80%;
    top: 50%;
    z-index: 2;
    height: 50%;
  }
}
