.UpdatePasswordContainer {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 231, 231);
  position: fixed;
  top: 0%;
  left: 0;
}

.UpdatePasswordBox {
  background-color: white;
  width: 25vw;
  height: 70vh;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0),
    4px 4px 2px 2px rgba(0, 0, 0, 0.05);
}

.UpdatePasswordForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 2vmax;
  justify-content: space-evenly;
  height: 70%;
  transition: all 0.5s;
}

.UpdatePasswordForm > div {
  display: flex;
  width: 100%;
  align-items: center;
}

.UpdatePasswordForm > div > input {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  font: 300 0.9vmax cursive;
  outline: none;
}

.UpdatePasswordForm > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: rgba(0, 0, 0, 0.623);
}

.UpdatePasswordForm > a {
  color: rgba(0, 0, 0, 0.651);
  text-decoration: none;
  align-self: flex-end;
  transition: all 0.5s;
  font: 500 0.8vmax "Gill Sans";
}

.UpdatePasswordForm > a:hover {
  color: black;
}

.UpdatePasswordBtn {
  border: none;
  background-color: tomato;
  color: white;
  font: 300 0.9vmax "Roboto";
  width: 100%;
  padding: 0.8vmax;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}

.UpdatePasswordBtn:hover {
  background-color: rgb(179, 66, 46);
}

@media screen and (max-width: 600px) {
  .UpdatePasswordBox {
    width: 100vw;
    height: 95vh;
  }

  .UpdatePasswordForm {
    padding: 5vmax;
  }
  .UpdatePasswordForm > div > input {
    padding: 2.5vmax 5vmax;
    font: 300 1.7vmax cursive;
  }

  .UpdatePasswordForm > div > svg {
    font-size: 2.8vmax;
  }

  .UpdatePasswordForm > a {
    font: 500 1.8vmax "Gill Sans";
  }
  .UpdatePasswordBtn {
    font: 300 1.9vmax "Roboto";
    padding: 1.8vmax;
  }
}

@media (max-width: 1000px) and (min-height: 1024px) {
  .UpdatePasswordForm > div > input {
    padding: 2.5vmax 5vmax;
    font: 300 1.7vmax cursive;
  }
  .UpdatePasswordBox {
    width: 60vw;
    height: 70vh;
  }
  .UpdatePasswordBtn {
    padding: 2.5vmax;
  }
}
