.cartPage {
  width: 100%;
  min-height:100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 5vmax;
  padding-top: 20vh;
  box-sizing: border-box;
  overflow-x: hidden;
  padding-bottom: 5vmax;
  position: relative;
}
.cardContainer {
  display: flex;
  justify-content:flex-start;
  box-sizing: border-box;
  flex-direction: row;
  padding: 0;
  width: 100%;
  flex-wrap: wrap;
}
.cartGrossTotal {
  padding: 1vmax;
}
.cartGrossTotal h5 {
  font: 400 1.3vmax cursive;
}
.cartGrossTotal button {
  width: 20vmax;
  height: 3vmax;
  margin-top: 1.5vmax;
  font: 300 1.4vmax "Robot";
  background-color: tomato;
  border-radius: 5vmax;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}
.cartGrossTotal button:hover {
  background-color: rgb(252, 77, 46);
}
.cardContainer > div{
  display: flex;
}
.cardContainer .noItemFound{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.cardContainer .noItemFound > h1{
 font-size: 3vmax;
 margin-bottom: 2vmax;
}
.cardContainer > :first-child{
  color: rgba(0,0,0,0.7);
}
.cardContainer .noItemFound a{
  text-decoration: none;
  background-color:tomato;
  padding: 1vmax 3vmax;
  border-radius: 30px;
  color: white;
  font-size: 2.5vmax;
}
@media (max-width: 1200px) and (min-width:701px) {
  .cartPage{
    padding:5;
    padding-top:12vmax;
  }
  .cardContainer{
    padding: 0 3vmax;
  }
  .cardContainer > div{
    justify-content:space-between;
  }
}

@media (max-width: 700px) {
  .cartPage {
    padding: 0;
    padding-top: 20vmax;
    justify-content: center;
  }
  .cardContainer {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 2vmax;
  }
  .cardContainer > div{
    justify-content:space-between;
  }
  .cartGrossTotal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .cartGrossTotal h5 {
    font-size: 2.3vmax;
  }
  .noItemFound h1{
    font-size:3vmax;
  }
  .cartGrossTotal button {
    margin-top: 3vmax;
    width: 25vmax;
    height: 5vmax;
    font-size: 2vmax;
  }
}
