.CartItemCard {
  display: flex;
  height: 25vmax;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 20vw;
  border: 1px solid rgb(155, 155, 155);
  margin: 1vmax;
  padding: 1vmax;
  border-radius: 5px;
  transition: all 0.3s linear;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.03),
    2px 2px 4px 4px rgba(0, 0, 0, 0.05), -2px -2px 4px 4px rgba(0, 0, 0, 0.05);
}

.CartItemCard:hover {
  transform: scaleX(105%) scaleY(105%);
}
.CartItemCard > div {
  position: relative;
  width: max-content;
}
.CartItemCard > img {
  width: 10vw;
  height: 10vw;
  object-fit: scale-down;
}
.itemQuantity {
  display: flex;
  align-items: center;
  font: 300 1vmax "Roboto";
  justify-content: space-around;
  width: fit-content;
  position: relative;
  /* border: 1px solid gray; */
}
.itemQuantity * {
  margin-right: 1vmax;
}
.CartItemCard > div {
  display: flex;
  margin: 1vmax 2vmax;
  flex-direction: column;
}

.CartItemCard > div > a {
  font: 300 1vmax cursive;
  color: rgba(24, 24, 24, 0.815);
  text-decoration: none;
  margin-bottom: 10px;
}

.CartItemCard > div > span {
  font: 300 0.9vmax "Roboto";
  color: rgba(24, 24, 24, 0.815);
  margin-bottom: 5px;
}

.CartItemCard > div > p {
  color: tomato;
  font: 100 1vmax "Roboto";
  cursor: pointer;
  margin-bottom: 5px;
}
@media screen and (max-width: 400px) {
  .CartItemCard {
    width: 90vw !important;
    height: auto;
  }
}
@media screen and (max-width: 700px) {
  .CartItemCard {
    width: 80vw;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 3px;
    align-items: center;
  }
  .CartItemCard > img {
    width: 40vw;
    height: 45vw;
  }

  .CartItemCard > div {
    margin: 1vmax 2vmax;
  }

  .CartItemCard > div > a {
    font: 300 2vmax cursive;
  }

  .CartItemCard > div > span {
    font: 300 2vmax "Roboto";
  }

  .CartItemCard > div > p {
    font: 100 1.5vmax "Roboto";
  }
}

@media screen and (min-width: 701px) and (max-width: 900px) {
  .CartItemCard {
    width: 28vw;
    height: 32vmax;
    padding: 1vmax;
    margin-bottom: 4vmax;
  }
  .CartItemCard > img {
    width: 15vmax;
    height: 15vmax;
  }

  .CartItemCard > div {
    margin: 1vmax 2vmax;
  }

  .CartItemCard > div > a {
    font: 300 1.3vmax cursive;
  }

  .CartItemCard > div > span {
    font: 300 1vmax "Roboto";
  }

  .CartItemCard > div > p {
    font: 100 1vmax "Roboto";
  }
}

@media (max-width: 400px) {
  .CartItemCard {
    height: auto;
    flex-direction: column;
    width: 90vw;
    align-items: center;
  }
  .CartItemCard > div {
    width: fit-content;
  }
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
  .CartItemCard {
    width: 25vw;
    height: 32vmax;
    padding: 1vmax;
    margin-bottom: 2vmax;
  }
  .CartItemCard > img {
    width: 15vmax;
    height: 15vmax;
  }
}
