.confirmOrderPage {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  height: auto;
  padding: 5vmax 0;
}
.confirmOrderPage > h1{
  font:200 2vmax 'Roboto';
  color: rgb(252, 101, 101);
  border-bottom: 2px solid rgb(112, 112, 112);
  padding:1vmax 3vmax;
}
.productBoxContainer {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 5vmax;
}
.productBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position:relative;
  width: 100%;
  margin-bottom: 2vmax;
  /* border-bottom: 1px solid gray; */
  padding:2vmax 10vmax;
  box-sizing: border-box;
}
.productBox img {
  position: relative;
  width:10vmax;
  height:12vmax;
  object-fit: contain;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px 2px rgb(238, 237, 237);
  padding: 1vmax;
  aspect-ratio: 1;
  transition: all 0.3s;
}
.productBox img:hover{
  transform:translateY(-3%)
}
.productBox > div {
  text-align: right;
}
.productBox p {
  font: 300 1.2vmax "Roboto";
  color: rgb(73, 73, 73);
  margin-bottom: 1vmax;
}
.totalPrice {
  border-top: 1.5px solid gray;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3vmax;
  padding: 2vmax 5vmax;
  box-sizing: border-box;
  font: 300 1.2vmax "Roboto";
  color: rgb(78, 78, 78);
}
.totalPrice p{
  margin-bottom: 1vmax;
}
.totalPrice p:last-of-type{
  color:tomato;
  font-size:1.5vmax;
}
.totalPrice > div > a{
   background-color: rgb(253, 123, 100);
   border: none;
   outline: none;
   padding: 0.6vmax 3vmax;
   border-radius: 30px;
   font: 200 solid 'Roboto';
   color: white;
   transition: all 0.3s;
   text-decoration: none;
   display: block;
   margin-top: 2vmax;
   width: fit-content;
}

.totalPrice > div > a:hover{
  background-color: tomato;
  color: gainsboro;
}
.confirmOrderPage > button {
  padding: 1vmax 2vmax;
  width: fit-content;
  background-color: rgb(13, 156, 13);
  outline: none;
  border: none;
  color:lightgray;
  cursor: pointer;
  border-radius:30px;
}
.confirmOrderPage > button:hover{
  background-color: green;
}
@media (max-width: 600px) {
    .productBoxContainer{
        padding: 2vmax;
    }
    .productBox{
        padding: 1vmax;
    }
  .productBoxContainer {
    padding: 2vmax;
  }
  .productBox p {
    font-size: 1.8vmax;
  }
  .totalPrice {
    font-size: 2.5vmax;
  }
}

@media (max-width: 1150px) and (min-width: 601px) {
  .productBoxContainer {
    padding: 1.7vmax;
  }
  .productBox p {
    font-size: 1.5vmax;
  }
  .totalPrice {
    font-size: 2.2vmax;
  }
}
